{% extends 'base.html' %}
{% load i18n %}
{% load webdesign %}
{% load staticfiles %}
{% block page_title %} <title>{% trans "Accueil" %} - Olbizgo</title> {% endblock %}
{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'amazon/css/amazon.css' %}">
    <style>
        #content {background: #f6f6f6}
        .box {float: left; height: 250px; margin: 0 45px 54px 0; width: 300px}
        .box:nth-child(3n) {margin-right: 0}
    </style>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="wrapper">
            {% if amazon_config.box_all_shop %}<div class="box subtle-shade">{{ amazon_config.box_all_shop|safe }}</div>{% endif %}
            {% if amazon_config.box_hot_deals %}<div class="box subtle-shade">{{ amazon_config.box_hot_deals|safe }}</div>{% endif %}
            {% if amazon_config.box_best_deals %}<div class="box subtle-shade">{{ amazon_config.box_best_deals|safe }}</div>{% endif %}
            {% if amazon_config.box_buy_smart %}<div class="box subtle-shade">{{ amazon_config.box_buy_smart|safe }}</div>{% endif %}
            {% if amazon_config.box_sales %}<div class="box subtle-shade">{{ amazon_config.box_sales|safe }}</div>{% endif %}
            {% if amazon_config.amazon_premium %}<div class="box subtle-shade">{{ amazon_config.amazon_premium|safe }}</div>{% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
{% block lightbox_dialogs %}
    <div class="dialog newsletter has-shade">
        <form class="stage" onsubmit="return false" style="height: 290px; padding: 10px 15px">
            <img src="{% static 'img/Newsletter_Icon_transp.png' %}" width="135" style="margin-left: 190px"/>
            <span class="close text-has-shade">X</span>
            <p style="font: normal 1.5em Helvetica; line-height: 1.6em">
                {% if config.newsletter_text %}
                    {{ config.newsletter_text }}
                {% else %}
                    {% lorem 15 w %}
                {% endif %}
            </p>
            <div style="margin: 12px 0; text-align: center; width: 100%">
                <input type="email" placeholder="{% trans "Votre e-mail" %}" />
                <button class="special">{% trans "Je m'inscris !" %}</button>
                <span class="icon tick" style="background: none; display: none; position: absolute; margin: 3px 0 0 6px">
                    <img src="{% static 'img/thumb-tick.jpg' %}" width="24" height="24" />
                </span>
                <svg class="spinner-container" width="24px" height="24px" viewBox="0 0 16 16" style="display: none; position: absolute; margin: 3px 0 0 6px">
                    <circle class="path" cx="8px" cy="8px" r="6px" fill="none" stroke-width="2px"></circle>
                </svg>
            </div>
            <div>
                <input id="refuse-newsletter" type="checkbox" style="float: left; margin: 5px 6px 0 0"/>
                <label style="width: 360px">{% trans "Ne plus me faire cette proposition." %}</label>
            </div>
        </form>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'amazon/js/amazon.js' %}"></script>
    <script>
        (function() {
            var width = $('.wrapper.adsense iframe').attr('width');
            if (width) {
                $('.wrapper.adsense').width(width);
            }
            var categories = [];
            {% for category in categories %}
                var category = {
                    id : "{{category.id}}",
                    title : "{{ category.title }}" ,
                    slug : "{{ category.slug }}",
                    items_size : "{{ category.items_size }}",
                    previews_count: {{ category.home_previews_count }}
                };
                categories.push(category);
            {% endfor %}
            if (categories.length >= 1) {
                ikwen.listItemsHome("{% url 'amazon:item_list' %}", categories[0], 0, categories[0].previews_count);
                categories.splice(0, 1);
            }
            if (categories.length >= 1) {
                ikwen.listItemsHome("{% url 'amazon:item_list' %}", categories[0], 0, categories[0].previews_count);
                categories.splice(0, 1);
            }
            $('#categories').clone().prependTo('#categories-container').show();
            $('div#slideshow .prev').live('click', function() {
                $('div#slideshow .stage .slide:last').remove().css('margin-left', '-277px').prependTo('div#slideshow .stage').animate({marginLeft: 0})
            });
            $('div#slideshow .next').live('click', function() {
                $('div#slideshow .stage .slide:first').animate({marginLeft: '-277px'}, 'normal', 'linear', function() {
                    $(this).remove().css('margin-left', '0').appendTo('div#slideshow .stage')
                })
            });
            $('#slideshow').hover(function() {
                $(this).addClass('hover')
            }, function() {
                $(this).removeClass('hover')
            });
            setInterval(function() {
                $('div#slideshow:not(.hover) .next').click();
            }, 4000);
            $('.dialog.newsletter form button').click(function() {
                $('.dialog.newsletter form .spinner-container').show();
                var email = $('.dialog.newsletter form input').val();
                if (!email) return;
                $.getJSON('{% url 'amazon:add_subscriber' %}', {email: email}, function(response) {
                    $('.dialog.newsletter form .spinner-container').hide();
                    if (response.error) {
                        $('div#top-notice-ctnr span').html(response.error).addClass('failure');
                        $('#top-notice-ctnr').fadeIn().delay(6000).fadeOut();
                        return
                    }
                    var expiry = new Date();
                    expiry.setTime(Date.now() + (86400 * 3650 * 1000));  //Expires in ten years ...
                    ikwen.CookieUtil.set('answered-to-nl-prop', 'yes', expiry);
                    $('.dialog.newsletter form .icon.tick').show();
                    setTimeout(function() {
                        $('#lightbox').fadeOut();
                    }, 1500);
                });
            });
            $('#refuse-newsletter').click(function() {
                var expiry = new Date();
                expiry.setTime(Date.now() + (86400 * 3650 * 1000));  //Expires in ten years ...
                ikwen.CookieUtil.set('answered-to-nl-prop', 'yes', expiry)
            });
            $(window).scroll(function() {
                var scrollTop = $(this).scrollTop(),
                    catH = $('nav#categories').height(),
                    slH = 291, // Slideshow height
                    spacing = 72 + 18 + 24;  // Default content margin-top + padding+top +  margin-top of the div right under the slideshow
                if ($(document).height() - $(this).height() - scrollTop <= $('footer').height()) {
                    if (categories.length == 0) return;
	                ikwen.listItemsHome('{% url 'amazon:item_list' %}', categories[0], 0, categories[0].previews_count);
                    categories.splice(0, 1)
                }
                if (scrollTop >= 100) {
                    $('#top:not(.frozen)').addClass('frozen').fadeOut('normal', function() {
                        $(this).addClass('toolbar').css('margin-top', '-45px').show().animate({marginTop: 0})
                    })
                } else {
                    $('#top.frozen').removeClass('frozen').fadeOut('normal', function() {
                        $(this).removeClass('toolbar').css('margin-top', '-72px').show().animate({marginTop: 0});
                        $('div#top #categories').hide();
                    })
                }
                if (scrollTop >= spacing + slH + catH) {
                    $('nav#categories + .adsense:not(.frozen)').addClass('frozen')
                } else {
                    $('nav#categories + .adsense.frozen').removeClass('frozen')
                }
            });
            if (!ikwen.CookieUtil.get('answered-to-nl-prop')) {
                $('div#lightbox .dialog').hide();
                $('div#lightbox .dialog.newsletter').show();
                setTimeout(function() {
                    $('#lightbox').fadeIn();
                }, 3000);
            }
        })()
    </script>
{% endblock %}